firmware/.generated_files/
firmware/build/
firmware/dist/
firmware/nbproject/Makefile-*
firmware/nbproject/Package-*
firmware/nbproject/private/
firmware/.ca/
firmware/.vscode/
EEPROM-parsing-tool/eeprom dumps/
*.bkp
EEPROM-parsing-tool/.vscode/

firmware/disassembly/

hardware-info/*KiCad Schematic/*.bak
hardware-info/*KiCad Schematic/*.kicad_pcb-bak
hardware-info/*KiCad Schematic/*.kicad_sch-bak
hardware-info/*KiCad Schematic/*backups*/*.zip
hardware-info/*KiCad Schematic/fp-info-cache